h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.projects {
  display: grid;
  grid-template-columns: auto auto auto;
}
.projects > a {
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .projects {
    grid-template-columns: auto;
  }
  .projects > a {
    text-align: center;
    padding: 5px;
  }
}
