.body-box {
  background-color: pink;
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
  display: grid;
  place-items: center;
}
.modal {
  height: 250px;
  width: 500px;
  border: 2px solid black;
  margin: auto;
  background-color: pink;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}
body {
  transition: all 0.7s;
}
.modal > button {
  position: absolute;
  right: 5px;
  top: 5px;
}
.open-modal-btn {
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
}
.open-modal-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}
.open-modal-btn:active {
  background-color: black;
  color: white;
}

.hide-modal {
  /* display: none; */
  visibility: hidden;
}
.blur {
  filter: blur(5px);
  /* opacity: 0.5; */
}
.fa-solid {
  width: 50px;
  cursor: pointer;
}
p {
  font-size: 20px;
}
